/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2018, 7:35:52 PM
    Author     : Rohan
*/

#page{
    -fx-background-image: url("plane.jpg"); 
    -fx-background-size: stretch;
    -fx-font-size: 18px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-fill:#181818       
}

/*.text-field {
    -fx-border-color: black;
    
}*/

#welcome-label{
    -fx-font-size: 50px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: linear-gradient(#1e9086,#1e2e9a);
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button{
    -fx-font-size: 15px;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#e9df0f,#e94e0c);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-style:none
}

.button:hover{
    -fx-background-color: linear-gradient(#e94e0c,#e9df0f);
}
#text{
    -fx-font-size: 30px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-fill:#181818
}

/*.text{
    -fx-font-size: 20px;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-text-fill: #181818;
    -fx-font-weight: bold;
}*/

.label{
    -fx-font-size: 13px;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-text-fill: linear-gradient(#3c0c34,#3c06f1);
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.combo-box{
    -fx-background-color: linear-gradient(#e9df0f,#e94e0c);
}
.combo-box .list-cell 
{
    -fx-background-color: linear-gradient(#e94e0c,#e9df0f);
    -fx-text-fill: whitesmoke;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: #e9df0f;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #e9df0f;
    -fx-text-fill: black;
}

.scroll-bar .increment-button{
    -fx-padding: 5px;
    -fx-background-color:linear-gradient(#e9df0f,#e94e0c);
}

.scroll-bar .decrement-button{
    -fx-padding: 5px;
    -fx-background-color:linear-gradient(#e9df0f,#e94e0c);
}

.scroll-bar{
    /*-fx-padding: 5px;*/
    -fx-background-color: #e9bf44;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.scroll-bar .thumb{
    -fx-background-color:linear-gradient(#e9df0f,#e94e0c);
}

.scroll-bar .thumb:hover{
    -fx-background-color:linear-gradient(#e94e0c,#e9df0f);
}

#forgot-pw{
    
    -fx-font-family: "Verdana";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(#1e9086,#1e2e9a);
}

